


.Inventory {
	grid-row-start: event_c2;
	grid-row-end: event_c2;
	grid-column-start: event_c2;
	grid-column-end: event_c2;
	background-image: url("../../../public/res/inventory_box.png");
	transition-delay: 0ms;
}

.Inventory h1 {
	margin-top: -5px;
	margin-left: -10px;
}

.Inventory .Slots {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
}