
.Screen {
	grid-row-start: event_c1;
	grid-row-end: event_c1;
	grid-column-start: event_c1;
	grid-column-end: event_c2;
	padding: 20px;
	pointer-events: all;
	display: grid;
	grid-template-rows: 10% auto auto;
	grid-template-columns: 1fr;
	align-items: stretch;
}

.ActionBar {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: 1fr 40%;
	grid-template-rows: 1fr;
	background-color: orange;
}

.ActionBar:hover {
	filter: brightness(120%);
}

.ActionBar .text {
	margin: auto;
}

.ActionBar .ItemGroup {
}

.ItemGroup {
	height: 100%;
	display: inline-block;
}

.ItemGroup .inner {
	display: grid;
	height: 100%;
	flex-direction: row;
	justify-content: space-around;
}
