
.Screen {
	grid-row-start: event_c1;
	grid-row-end: event_c1;
	grid-column-start: event_c1;
	grid-column-end: event_c2;
	padding: 20px;
	pointer-events: all;
	display: grid;
	grid-template-rows: 10% auto auto;
	grid-template-columns: 1fr;
	align-items: stretch;
	background-image: url("../../../public/res/dialogue_box.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  image-rendering: pixelated;
}

.ActionBar {
	width: 100%;
	height: auto;
	display: grid;
	padding: 20px;
	grid-template-columns: 1fr 40% 150px;
	grid-template-rows: 1fr;
	background-color: orange;
}

.ActionBar .Sum {
	display: flex;
	align-items: center;
	font-size: 30px;
}

.ActionBar:hover {
	filter: brightness(120%);
}

.ActionBar .text {
	margin: auto;
}

.ItemGroup {
	height: 100%;
	display: inline-block;
	display: flex;
	height: 100%;
	flex-direction: row;
	justify-content: left;
	gap: 30px;
	display: flex;
	align-items: center;
}