* {
  box-sizing: border-box;
  font-family: prstart;
  user-select: none;
  color: #5D2C28;
}

html, body {
  margin: 0px;
  padding: 0px;
}

.disabled {
  filter: sepia(100%);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#root {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #06F1FF;
}

.MenuLayer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 30% 25%;
  grid-template-rows: 1fr 15%;
  grid-template-areas:
    "event_c1 event_c2 tray"
    "event_c1 event_c2 roll";
  pointer-events: none;
}

.Tray {
	grid-area: tray;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 35px;
  padding-bottom: 40px;
	position: relative;
	pointer-events: all;
  background-image: url("../public/res/tray.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  image-rendering: pixelated;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  align-items: center;
}

.Tray span {
  text-align: left;
  user-select: none;
}

.Tray.bottom {
	top: 100px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.Tray .Glow {
  filter: brightness(120%);
}

.RollButton {
  grid-area: roll;
  text-align: center;
  padding: 40px;
  color: #5D2C28;
  font-size: 30px;
  position: relative;
  pointer-events: all;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  image-rendering: pixelated;
  transition-duration: 40ms;
	transition-timing-function: ease-out;
}

.RollButton.enabled:hover {
  cursor: pointer;
  filter: brightness(120%);
}

.RollButton.down {
  background-image: url("../public/res/roll_button_click.png");
}

.RollButton.up {
  background-image: url("../public/res/roll_button.png");
}

@font-face {
  font-family: "prstart";
  src: local("prstart"), url(./fonts/prstart.ttf) format("truetype");
}

@font-face {
    font-family: "prstart";
    font-weight: 900;
    src: local("prstart"), url(./fonts/prstartk.ttf) format('truetype');
}